@media (max-width: 575.98px) {
    body{
        width: auto !important;
    }
    .imgpde{
        padding: 0px !important;
    }
    .ul-nav{
        display: flex;
        flex-direction: column !important;
        text-align: right !important;
        margin-left: auto !important;
    }
    .blockNav{
        display: none;
    }
    .ul-margin{
        padding: 15px;
    }
    #myhdr{
        display: flex !important;
        flex-direction: column !important;
    }
    .mtn{
        padding-left: 10px !important;
    }
    .zmarg{
        margin: 0px !important;
    }
    #fdrow{
        display: flex !important;
        flex-direction: row !important;
        margin: 0px !important;
    }
    h4{
        font-size: 14px !important;
    }
    button{
        font-size: 11px !important
    }
    h5{
        font-size: 12px !important;
    }
    p{
        font-size: 10px !important;
    }
    .img{
        margin-top: -60px !important;
    }
    .myte{
        text-align: center !important;
        margin-bottom: 0px !important;
        height: 350px !important;
        width: 300px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .nomarg{
        margin:  0px !important;
    }
    .nopad{
        padding: 20px !important;
        text-align: center !important;
    }
    #cntr{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #hamb{
        display: flex;
        margin-left: auto !important;
        margin-top: -43px !important;
        /* padding-right: 16px !important; */
    }
    .close{
        margin-left: auto !important;
        margin-top: -32px !important;
        padding-right: 16px !important;
    }
    
}
body{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.hamb{
    width: 50px;
    height: 50px;
    display: none;
}
.close{
    width: 50px;
    height: 30px;
    display: none;
}
.mtn{
    height: 40px;
    width: 150px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    height: 74px;
    background: #FFFFFF;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); */
}
.ourProcess{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 24px;
    color: #808080;
    margin-right: 60px;
}
.benefits{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 24px;
    color: #808080;
    margin-right: 60px;
}
.btn-schedule{
    padding: 10px 20px;
    color: #FFFFFF;
    background: #FF3C3C;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 18px;
    border: none;
}
#myblocknav{
    display: block !important;
}
li{
    list-style-type: none;
    display: inline;
    font-family: serif;
}
.bold{
    font-weight: bold
}
hr{
    width: 100% !important;
}
.bgdark{
    height: 200px;
    background: #353535;
    left: 0%;
    right: 0%;
    top: -17.37%;
    bottom: 93.07%;
}
.profile-sect{
    left: -0.9%;
    right: -0.97%;
    top: 6.93%;
    bottom: 87.22%;
    background: rgba(255, 255, 255, 0.929);
    height: 180px;
}
.name{
    width: 287px;
    height: 24px;
    left: 425px;
    top: 260px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
}
.location{
    width: 138px;
    height: 18px;
    left: 425px;
    margin-top: 9px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #808080;
}
.description{
    width: 366px;
    height: 18px;
    left: 425px;
    margin-top: 12px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FF3C3C;
}
.hire{
    margin-top: 15px;
}
.workType{
    margin-left: auto;
}
.loct{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
ul{
    padding: 0px;
    margin: 0px;
}
.ul-nav{
    align-self: center !important;
}
.small{
    font-size: 11px;
}
.img{
    margin-top: -70px;
    width: 215px;
    height: 215px;
    left: 170px;
    top: 172px;
    border-radius: 10px;
}
.wrktype{
    height: 18px;
    left: 1133px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #808080;
}
.remotely{
    height: 18px;
    left: 1141px;
    margin-top: 5px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF3C3C;
}
.imge{
    width: 270px;
    height: 200px;
    border: 1px solid white;
}
p, h2{
    margin: 0px !important;
}
.fsize{
    font-size: 12px;
}
.btn-light{
    background-color: rgba(221, 214, 214, 0.527) !important
}
.i{
    color: white !important;
}
.body{
    background-color: gainsboro;
}
.but-class{
    margin-left: 5px;
}
.bradius{
    border-radius: 5px;
}