@media (max-width: 575.98px) {
    body{
        width: auto !important;
    }
    .imgpde{
        padding: 0px !important;
    }
    /* .ul-nav{
        display: flex;
        flex-direction: column !important;
        text-align: right !important;
        margin-left: auto !important;
    } */
    .blockNav{
        display: none;
    }
    .ul-margin{
        padding: 15px;
    }
    #myhdr{
        display: flex !important;
        flex-direction: column !important;
    }
    .mtn{
        padding-left: 10px !important;
    }
    .zmarg{
        margin: 0px !important;
    }
    #fdrow{
        display: flex !important;
        flex-direction: row !important;
        margin: 0px !important;
    }
    h4{
        font-size: 14px !important;
    }
    button{
        font-size: 11px !important
    }
    h5{
        font-size: 12px !important;
    }
    p{
        font-size: 10px !important;
    }
    .img{
        margin-top: -60px !important;
    }
    .myte{
        text-align: center !important;
        margin-bottom: 0px !important;
        height: 350px !important;
        width: 300px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .nomarg{
        margin:  0px !important;
    }
    .nopad{
        padding: 20px !important;
        text-align: center !important;
    }
    #cntr{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #hamb{
        display: flex;
        margin-left: auto !important;
        margin-top: -43px !important;
        /* padding-right: 16px !important; */
    }
    .close{
        margin-left: auto !important;
        margin-top: -32px !important;
        padding-right: 16px !important;
    }
    
}
body{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    /* background: #E5E5E5; */
}
.hamb{
    width: 50px;
    height: 50px;
    display: none;
}
.close{
    width: 50px;
    height: 30px;
    display: none;
}
.mtn{
    height: 40px;
    width: 150px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1440px;
    height: 74px;
    background: #FFFFFF;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); */
}
.ourProcess{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 24px;
    color: #808080;
    margin-right: 60px;
}
.benefits{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 24px;
    color: #808080;
    margin-right: 60px;
}
.btn-schedule{
    padding: 10px 20px;
    color: #FFFFFF;
    background: #FF3C3C;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4px;
    line-height: 18px;
    border: none;
}
#myblocknav{
    display: block !important;
}
li{
    list-style-type: none;
    display: inline;
    font-family: serif;
}
.bold{
    font-weight: bold
}
hr{
    width: 100% !important;
}
.bgdark{
    height: 150px;
    background: #353535;
    left: 0%;
    right: 0%;
    top: -17.37%;
    bottom: 93.07%;
}
.profile-sect{
    left: -0.9%;
    right: -0.97%;
    top: 6.93%;
    bottom: 87.22%;
    background: rgba(255, 255, 255, 0.929);
    height: 180px;
}
.name{
    width: 287px;
    height: 24px;
    left: 425px;
    top: 260px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 24px;
}
.div-lorem{
    width: 656px;
    height: 262px;
    left: 586px;
    top: 533px;
    background: #FF3C3C;
}
/* .floral{
    padding-top: 22px;
    padding-left: 23px;
} */
.div-port{
    padding-top: 31px;
    padding-left: 36px;
    padding-right: 27px;
    width: 716px;
    /* height: 760px; */
    left: 553px;
    top: 445px;
    margin-right: 0px !important;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.ipsum{
    width: 192px;
    height: 22px;
    left: 609px;
    top: 592px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.div-floral{
    padding-top: 22px;
    padding-left: 23px;
    padding-right: 0px !important;
}
.location{
    width: 138px;
    height: 18px;
    left: 425px;
    margin-top: 9px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #808080;
}
.description{
    width: 366px;
    height: 18px;
    left: 425px;
    margin-top: 12px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FF3C3C;
}
.hire{
    margin-top: 15px;
}
.workType{
    margin-left: auto;
}
.loct{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
ul{
    padding: 0px;
    margin: 0px;
}
.ul-nav{
    align-self: center !important;
}
.small{
    font-size: 11px;
}
.mhd{
    margin-left: auto !important;
}
.img{
    margin-top: -70px;
    width: 215px;
    height: 215px;
    left: 170px;
    top: 172px;
    border-radius: 10px;
}
.wrktype{
    height: 18px;
    left: 1133px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #808080;
}
.remotely{
    height: 18px;
    left: 1141px;
    margin-top: 5px !important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF3C3C;
}
.skillset{
    width: 366px;
    height: 375px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 29px 30px
}
.m-topp{
    margin-top: 19px;
}
.lleft{
    margin-left: 14px;
}
.portfolios{
    width: 97px;
    height: 18px;
    left: 589px;
    top: 476px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #353535;
    margin-bottom: 22px !important;
}
.marge{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    border: none;
    color: #353535;
    margin: 6px 7px;
    padding: 5px 13px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}
.skills{
    width: 76px;
    height: 18px;
    left: 205px;
    top: 476px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #353535;
    margin-bottom: 19px !important;
}
p, h2, h4{
    margin: 0px !important;
}
.fsize{
    width: 285px;
    height: 99px;
    left: 609px;
    top: 625px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 159.4%;
    color: #FFFFFF;
    margin-top: 11px !important;
    margin-right: 0px !important;
}
.btn-light{
    background-color: rgba(221, 214, 214, 0.527) !important
}
.i{
    color: white !important;
}
.body{
    background-color: gainsboro;
}
.but-class{
    margin-left: 5px;
}
.bradius{
    border-radius: 5px;
}
.imge{
    width: 340px;
    height: 231px;
    left: 902px;
    top: 564px;
    margin-left: 43px !important;
}
.btn-selects{
    left: 586px;
    top: 805px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 5px 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #353535;
    border: none;
}
.imgpde{
    padding: 0px !important;
    text-align: right;
    margin-top: 31px;
}
li:hover{
    cursor: pointer;
}
.div-history{
    padding-left: 36px;
    padding-top: 33px;
}
.div-case{
    padding-left: 24px;
    margin-top: 22px;
}
.div-marketing{
    padding-left: 31px;
}
.digital{
    width: 133px;
    height: 24px;
    left: 669px;
    top: 1303px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF3C3C;
}
.motionwares{
    width: 310px;
    height: 20px;
    left: 669px;
    top: 1331px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgba(53, 53, 53, 0.7);
}
.date{
    width: 134px;
    height: 17px;
    left: 669px;
    top: 1357px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.22);
}
.style-type{
    width: 418px;
    height: 15px;
    left: 680px;
    top: 1384px;
    letter-spacing: 1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.67);
}
.work-history{
    width: 131px;
    height: 18px;
    left: 589px;
    top: 1240px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #353535;
}
.bio{
    padding-right: 13px;
    margin-top: 17px !important;
    margin-bottom: 30px !important;
    width: 640px;
    left: 589px;
    top: 1755px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #808080;
}
.bios{
    padding-top: 1px;
    width: 640px;
    left: 589px;
    top: 1755px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #808080;
}
.desc{
    height: 18px;
    left: 589px;
    top: 1720px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FF3C3C;
}
.b-eng{
    margin-top: 16px !important;
    height: 23px;
    left: 589px;
    top: 2027px;
    letter-spacing: 1.2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #353535;
}
.bottom{
    margin-bottom: 156px !important;
}